body {
  padding-left: 11em;
  font-family: Comic Sans MS, "Comic Sans MS",
    Times, serif;
  color: black;
  background-color: #ccff99
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em
}

h1 {
  font-family: Harrington, Geneva, Arial,
    SunSans-Regular, sans-serif
}

ul.navbar li {
  background: #ccff99;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black
}

ul.navbar a {
  text-decoration: none
}

a:link {
  color: black
}

a:visited {
  color: black
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

img {
  border-radius: 10px;
}

.header {
  background: #001100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.background {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;
  background-color: #90b967bd;
  padding: 40px;
  border-radius: 30px;
}

.background>div {
  flex: 1 1 200px;
  margin: 20px;
}

.Baner {
  max-width: 60%;
  display: block;
  margin-left: 35%;
}

.Sobre {
  background-color: rgb(191, 240, 190);
  padding: 10px;
  border-radius: 10px;
}

.Extra {
  background-color: rgba(74, 107, 76, 0.455);
  padding: 10px;
  border-radius: 10px;
}